# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc


# Vars & secrets
*.tfvars
*.tfvars.json
*.auto.tfvars
*.auto.tfvars.json
*.pem
*.key
*.p12
*.json


# Local only provider config
providers.tf


# Logs
*.log